# bloop and metals
.bloop
.bsp
.scala-build

# metals
project/metals.sbt
.metals

# vs code
.vscode

# scala
*.class
*.tasty

# sbt
project/project/
project/target/
target/

# intellij idea
*.log
*.iml
*.ipr
*.iws
.idea

# mac
.DS_Store

# other?
.history
.scala_dependencies
.cache-main


